{% extends 'base.html.twig' %}
{% block body %}
    {% include 'headTitle.html.twig' with {'headTitle': 'Create thread'} %}
{{ form_start(contentForm) }}
    {{ form_errors(contentForm) }}

    <div class="form-group">
        {{ form_label(contentForm.title) }}
        {{ form_errors(contentForm.title) }}
        {{ form_widget(contentForm.title) }}
    </div>

    <div class="form-group">
        {{ form_label(contentForm.photo) }}
        {{ form_errors(contentForm.photo) }}
        {{ form_widget(contentForm.photo) }}
    </div>

    <div class="form-group">
        {{ form_label(contentForm.creator) }}
        {{ form_errors(contentForm.creator) }}
        {{ form_widget(contentForm.creator) }}
    </div>
{{ form_end(contentForm) }}
{% endblock %}