{% extends 'base.html.twig' %}
{% block body %}
    {% include 'headTitle.html.twig' with {'headTitle': thread.title} %}
    <h2>{{ thread.getCreatedBy.getEmail }} started it</h2>
    <div class="row">

    <div class="col-sm-8 shareme-main">
        {% for submission in thread.getSubmissions|reverse %}
            {% include 'submission/submission.html.twig' with {submission: submission} %}
            {#<li><img src="{{ aws_base_url }}/{{content.url}}" alt="image"/></li>#}
        {% endfor %}
    </div><!-- /.shareme-main -->

        <div class="col-sm-3 col-sm-offset-1 shareme-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Add new content</h4>
                {{ form_start(addContentForm, {'action': path('add_content_thread'), 'method': 'post'}) }}
                    <input type="hidden" name="thread_hash" value="{{ thread.hash }}" />
                {{ form_end(addContentForm) }}
            </div>
            {#<div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>#}
        </div><!-- /.shareme-sidebar -->

    </div><!-- /.row -->

{% endblock %}